.dialog-button_open {
  display: block;
  width: 200px;
  margin: 30px auto;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: tomato;
}
.dialog-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.dialog-wrapper:target {
  visibility: visible;
}
.dialog-content {
  position: relative;
  width: 400px;
  margin: 20% auto;
  padding: 100px;
  text-align: center;
  color: #ffffff;
  background-color: skyblue;
}
.dialog-button_close {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #ffffff;
}

