body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.scroll-wrapper {
  overflow: auto;
}
.scroll-wrapper p {
  height: 300px;
  margin: 0;
  font-size: 20px;
  text-align: center;
  line-height: 300px;
  color: tomato;
  background-color: silver;
}
.parallax-scrolling {
  height: 1000px;
  background-image: url(/demo-book/lunboyugundong_shichagundong/575-1920x1080-e84360.jpg);
  background-position: center;
  background-repeat: no-repeat;
  /* * background-attachment: fixed; 背景相对于视口固定；即使一个元素拥有滚动机制，背景也不会随着元素的内容滚动。 */
  background-attachment: fixed;
}

