.collapse-wrapper {
  width: 50%;
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 1px #ff6347;
}
.panel-title {
  display: block;
  position: relative;
  padding: 0.2em;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  background-color: tomato;
  cursor: pointer;
}
.checkbox-common {
  position: absolute;
}
#checkbox-first:checked ~ #content-first,
#checkbox-second:checked ~ #content-second,
#checkbox-third:checked ~ #content-third {
  height: 100px;
}
.panel-content {
  height: 0;
  transition: all 300ms;
  overflow: hidden;
}
