* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: silver;
}
.wrapper {
  max-width: 900px;
  padding: 0 50px;
  text-align: center;
  color: #111111;
}
.wrapper .count-down {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
.wrapper .count-down .timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
  border: 2px solid;
  border-radius: 50%;
}
.count-down .timer .numb {
  font-size: 25px;
  font-weight: 500;
}
.count-down .timer .text {
  font-size: 15px;
  color: red;
}
.count-down .clone {
  padding: 0 20px;
  font-size: 45px;
}
@media (max-width: 630px) {
  .wrapper .count-down {
    height: 80px;
  }
  .wrapper .count-down .timer {
    width: 80px;
  }
  .count-down .timer .numb {
    font-size: 20px;
  }
  .count-down .timer .text {
    font-size: 13px;
  }
  .count-down .clone {
    font-size: 40px;
  }
}
@media (max-width: 542px) {
  .wrapper {
    padding: 0 20px;
  }
  .wrapper .count-down .timer {
    border: none;
  }
  .count-down .timer .numb {
    font-size: 28px;
  }
  .count-down .timer .text {
    font-size: 15px;
  }
  .count-down .clone {
    display: none;
  }
}
@media (max-width: 340px) {
  .wrapper .count-down {
    height: 30px;
  }
  .wrapper .count-down .timer {
    width: 30px;
  }
}
