body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* * 在父元素中加上如下属性，背景色将会消失。 */
  /* background-clip: text; */
}
.wrapper > h1 {
  padding: 0.5em;
  font-size: 80px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}
.wrapper > h1 > span {
  /* * 背景裁剪为文字的前景色，可以镂空显示文字。 */
  background-clip: text;
  color: transparent;
}
.bg {
  height: 100%;
  background-image: linear-gradient(25deg, #fb2c2f, #eb852b, #d2bd22, #a9ef0c);
  /* * 决定背景图像在视口内固定还是随着滚动条滚动。 */
  background-attachment: fixed;
}
