html,
body {
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 125px;
  top: 0;
  background-color: #ffffff;
}
main {
  margin-top: 128px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 125px;
  background-color: #ffffff;
}
@supports (height: 100vh) {
  body {
    background-image: linear-gradient(to right top, #0089f2 50%, #dddddd 50%);
    background-size: 100% calc(100% - 100vh + 129px);
    background-repeat: no-repeat;
  }
  body::before {
    position: fixed;
    width: 100%;
    top: 128px;
    bottom: 0;
    z-index: -1;
    content: '';
    background-color: #ffffff;
  }
}
body {
  font-family: 'Open Sans';
  font-size: 1.25rem;
}
main,
header,
footer {
  padding: 0px 20px;
  box-sizing: border-box;
}
p::before {
  content: '\2003\2003';
}
