.heart-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 100px;
  background-image: url(heart-spirit.png);
  background-position: left;
  background-repeat: no-repeat;
  transform: translate(-50%, -47.5%);
  cursor: pointer;
}
.like-active {
  display: inline-block;
  animation-name: heart-burst;
  animation-timing-function: steps(28);
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
