body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.scalable {
  position: relative;
  min-width: 100px;
  background-color: #eeeeee;
}
.main {
  flex: 1;
  background-color: white;
}
.content {
  padding: 20px;
}
.content img {
  border-radius: 50%;
}
.scalable .separator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
  cursor: col-resize;
}
.scalable .separator i {
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: silver;
  margin: 0 1px;
}
.scalable .content {
  padding-right: 34px;
}
.scalable .content img {
  display: block;
  max-width: 100%;
  margin: auto;
}

