body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.scalable {
  background-color: #eee;
  position: relative;
  min-width: 100px;
}
.main {
  background-color: white;
  flex: 1;
}
.content {
  padding: 20px;
}
.scalable .separator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
  cursor: col-resize;
}
.scalable .separator i {
  display: inline-block;
  height: 14px;
  width: 1px;
  background-color: #e9e9e9;
  margin: 0 1px;
}
.scalable .content {
  padding-right: 34px;
}
.scalable .content img {
  display: block;
  max-width: 100%;
  margin: auto;
}

