body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.scroll-indicator {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border: 1px solid tomato;
  border-right: none;
}
.article {
  height: 100%;
  overflow: auto;
}
.article::-webkit-scrollbar {
  width: 5px;
}
.article::-webkit-scrollbar-track {
  background-color: tomato;
}
.article::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: skyblue;
}
.article article {
  padding: 0 20px;
}
.article article > * {
  position: relative;
  z-index: 9;
}
.article h1 {
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.article p {
  margin-top: 20px;
  line-height: 20px;
  text-indent: 2em;
}
