body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.scroll-wrapper {
  overflow: auto;
}
.scroll-wrapper p {
  height: 300px;
  margin: 0;
  font-size: 20px;
  text-align: center;
  line-height: 300px;
  color: tomato;
  background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
}
.parallax-scrolling {
  height: 1000px;
  background-image: url("https://picsum.photos/1920/1080?random=1");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
