body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
div {
  position: relative;
  width: 200px;
  height: 60px;
  margin-bottom: 5px;
  text-align: center;
  line-height: 60px;
  background: #ddd;
}
h1 {
  font-size: 16px;
  font-family: Helvetica;
}
/* 方案一，border 实现。 */
.border {
  border-left: 5px solid deeppink;
}
/* 方案二，使用伪元素实现。 */
.pseudo-element::before {
  position: absolute;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: deeppink;
  content: '';
}
/* 方案三，box-shadow 实现；又分为外阴影和内阴影。 */
.box-shadow {
  box-shadow: -5px 0px 0 0 deeppink;
}
.inset-box_shadow {
  box-shadow: inset 5px 0px 0 0 deeppink;
}
/* 方案四，drop-shadow 实现。 */
.drop-shadow {
  filter: drop-shadow(-5px 0 0 deeppink);
}
/* 方案五：渐变实现。 */
.linear-gradient {
  background-image: linear-gradient(90deg, deeppink 0px, deeppink 5px, transparent 5px);
}
/* 方案六，修改滚动条。 */
.scroll-bar {
  width: 205px;
  background: deeppink;
  overflow-y: scroll;
}
.scroll-bar::-webkit-scrollbar {
  width: 200px;
  background-color: #ddd;
}
