body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.snakelike-border {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
}
.snakelike-border::before,
.snakelike-border::after {
  position: absolute;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
  border: 5px solid;
  content: '';
  animation: move 5s linear infinite;
}
.snakelike-border::before {
  border-color: tomato;
}
.snakelike-border::after {
  border-color: yellowgreen;
  animation-delay: -2.5s;
}
@keyframes move {
  0%,
  100% {
    /* * 使用 clip-path 配合动画，裁剪显示伪类添加的边框。 */
    /* * clip-path: inset(top, right, bottom, left); 上、右、下、左定义矩形各方向向内裁剪的距离。 */
    clip-path: inset(0 100px 0 0);
  }
  25% {
    clip-path: inset(100px 0 0 0);
  }
  50% {
    clip-path: inset(0 0 0 100px);
  }
  75% {
    clip-path: inset(0 0 100px 0);
  }
}
