.heart-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 100px;
  background-image: url(/web-demo-book/anniu_aixindianzan/heart-spirit-26fd54.png);
  /* * 对雪碧图进行定位，默认显示开始帧也就是最左边的图片元素；点击之后动画显示到最右边的图片元素即可。 */
  background-position: left;
  background-repeat: no-repeat;
  transform: translate(-50%, -47.5%);
  cursor: pointer;
}
.like-active {
  display: inline-block;
  animation-name: heart-burst;
  /* * 接收两个参数的步进函数，指定函数的步数；第一个参数必须是正整数，第二个参数可以是 start 或 end，用来指定每一步值发生变化的时间点。 */
  animation-timing-function: steps(28);
  animation-duration: 0.8s;
  /* * 指定对象动画的具体循环次数。 */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

