body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
h2 {
  margin-top: 40px;
  font-size: 36px;
  font-family: Helvetica;
  color: #333;
  opacity: 0;
}
input:checked ~ h2 {
  animation: title 0.6s ease-in-out;
  /* 延迟执行动画。 */
  animation-delay: 1.75s;
  /* 动画执行完毕，保持这个状态。 */
  animation-fill-mode: forwards;
}
.circle {
  stroke-dasharray: 1194;
  stroke-dashoffset: 1194;
}
input:checked + svg .circle {
  animation: circle 0.8s ease-out;
  animation-fill-mode: forwards;
}
.tick {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
}
input:checked + svg .tick {
  animation: tick 1s ease-in-out;
  animation-delay: 0.95s;
  animation-fill-mode: forwards;
}
@keyframes circle {
  from {
    stroke-dashoffset: 1194;
  }
  to {
    stroke-dashoffset: 2388;
  }
}
@keyframes tick {
  from {
    stroke-dashoffset: 350;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

