* {
  outline: none;
}
.page {
  width: 100%;
  height: 100vh;
  font-weight: 600;
  font-family: Helvetica;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #fdfdfd;
}
header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: #fff;
  background-color: #212121;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 70px 20px 0;
}
main > .content {
  margin: auto;
  max-width: 600px;
}
main strong {
  font-weight: 600;
  color: #000000;
}
main small {
  font-weight: 300;
  color: #888;
}
#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  background-color: #000000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0.6;
}
#nav-container * {
  visibility: visible;
}
.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  height: 70px;
  margin-left: 25px;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  z-index: 1;
  cursor: pointer;
  pointer-events: auto;
  touch-action: manipulation;
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: 0.3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}
#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}
#nav-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  max-width: 300px;
  height: calc(100% - 140px);
  margin-top: 70px;
  padding: 20px;
  background-color: #ececec;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.3s;
  pointer-events: auto;
  will-change: transform;
  contain: paint;
}
#nav-content ul {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#nav-content li a {
  display: block;
  padding: 10px 5px;
  text-transform: uppercase;
  transition: color 0.1s;
}
#nav-content li a:hover {
  color: #bf7497;
}
#nav-container:focus-within #nav-content {
  transform: none;
}
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: #212121;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}
a {
  color: currentColor;
  transition: 0.2s ease-in-out;
}
ul {
  padding: 0;
  list-style: none;
}

