body {
  display: flex;
  justify-content: center;
}
.single-checkbox_wrapper {
  display: flex;
  margin-top: 20px;
}
.single-checkbox_item {
  position: relative;
  margin-left: 15px;
  border-radius: 1em;
  background-color: #f2f2f2;
  user-select: none;
}
.input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.colors {
  height: 2em;
  padding: 0 1em;
  font-size: 14px;
  line-height: 2em;
  border-radius: 1em;
}
.input:checked + .colors {
  border: 1px solid tomato;
  color: tomato;
}
