body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
.form-wrapper {
  width: 300px;
  padding: 10px;
  border: 1px solid silver;
}
.form-wrapper label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
}
.form-wrapper label:not(:first-child) {
  margin-top: 10px;
}
.form-wrapper input {
  width: 97%;
  height: 25px;
}
.form-wrapper input:focus {
  outline: 2px solid tomato;
}
.form-wrapper button {
  float: right;
  height: 25px;
  margin-top: 10px;
  padding: 0 5px;
  outline: none;
  border: none;
  color: #000000;
  background-color: silver;
  cursor: pointer;
}
.form-wrapper button:active {
  color: tomato;
}

