/* pseudoClassButton */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: slateblue;
}
.container h1 {
  margin-top: 200px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  -webkit-text-fill-color: transparent;
  background-color: hsla(0, 100%, 60%, 0.8);
  -webkit-background-clip: text;
          background-clip: text;
  animation: textAction 3s linear infinite;
}
.rainbow-box {
  position: relative;
  width: 300px;
  height: 100px;
}
.rainbow-arc {
  width: 300px;
  height: 100px;
  position: absolute;
  overflow: hidden;
  animation: rainboxActive 3s cubic-bezier(0.58, -0.57, 0.5, 1.66) infinite;
  transform-origin: 50% 100%;
}
.rainbow-arc-main {
  border: 4px solid #ff0080;
  box-sizing: border-box;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.rainbow-arc:nth-child(2) {
  animation-delay: 100ms;
}
.rainbow-arc:nth-child(3) {
  animation-delay: 200ms;
}
.rainbow-arc:nth-child(4) {
  animation-delay: 300ms;
}
.rainbow-arc:nth-child(5) {
  animation-delay: 400ms;
}
.rainbow-arc:nth-child(2) .rainbow-arc-main {
  border-color: #ffff00;
  top: 50px;
  width: 120px;
  height: 120px;
}
.rainbow-arc:nth-child(3) .rainbow-arc-main {
  border-color: #6200ff;
  top: 40px;
  width: 140px;
  height: 140px;
}
.rainbow-arc:nth-child(4) .rainbow-arc-main {
  border-color: #e100ff;
  top: 30px;
  width: 160px;
  height: 160px;
}
.rainbow-arc:nth-child(5) .rainbow-arc-main {
  border-color: #00ffea;
  top: 20px;
  width: 180px;
  height: 180px;
}
@keyframes rainboxActive {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes textAction {
  0% {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

