body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.underline-navbar {
  display: flex;
}
.underline-navbar li {
  position: relative;
  margin: 0 10px;
  transition: all 300ms;
  font-size: 20px;
  color: tomato;
  cursor: pointer;
}
.underline-navbar li::before {
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 100%;
  transition: all 300ms;
  border-bottom: 2px solid transparent;
  content: '';
}
.underline-navbar li:active {
  color: #fff;
  background-color: lightseagreen;
}
.underline-navbar li:hover::before {
  width: 100%;
  top: 0;
  left: 0;
  transition-delay: 100ms;
  border-bottom-color: tomato;
  z-index: -1;
}
.underline-navbar li:hover + li::before {
  left: 0;
}

