.wrapper {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  place-items: center;
}
/* 1 */
.circle-wrapper_demo1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.42;
}
.circle-inside_demo1 {
  width: 100px;
  height: 100px;
  position: relative;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  background-color: #ffffff;
}
.circle-inside_demo1::after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  background-color: silver;
}
/* 2 */
.circle-wrapper_demo2 {
  width: 100px;
  height: 100px;
  border: 25px solid #000000;
  border-radius: 50%;
  background-color: #ffffff;
}
.circle-wrapper_demo2::after {
  width: 50px;
  height: 50px;
  content: '';
  display: block;
  position: relative;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  background-color: silver;
}
/* 3 */
.circle-wrapper_demo3 {
  width: 150px;
  height: 150px;
  box-shadow: 0 0 0 37.5px #000000 inset;
  border-radius: 50%;
  background-color: silver;
}
/* 4 */
.circle-wrapper_demo4 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(circle closest-side, silver 50%, #000000 50%);
}

