* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color: #d9d9d9;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 50px 0 100px;
  background-color: #1b1b1b;
}
nav .logo {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  padding: 8px 15px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  color: #f2f2f2;
  border-radius: 5px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #111111;
  background-color: #ffffff;
}
nav .menu-btn i {
  display: none;
  font-size: 22px;
  color: #ffffff;
  cursor: pointer;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn .expand {
    display: block;
  }
  nav .menu-btn .pack-up {
    display: none;
  }
  #click:checked ~ .menu-btn .expand {
    display: none;
  }
  #click:checked ~ .menu-btn .pack-up {
    display: block;
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    display: block;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #000000;
    transition: all 0.3s ease;
    z-index: 10;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    display: block;
    width: 100%;
    margin-left: -100%;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    color: cyan;
    background: none;
  }
}
.content1 {
  position: relative;
  margin: 130px auto;
  padding: 0 20px;
  text-align: center;
}
.content1 .text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #111111;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  position: relative;
  display: inline-block;
  /* 设置宽度由文本撑开。 */
  width: fix-content;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.box h2::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #f12020;
  content: '';
}
.box .content {
  position: relative;
  margin: 20px 0 0 0;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  background-color: #1a1a1a;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background-color: #f12020;
}
.center .content .fas {
  display: inline-block;
  width: 45px;
  height: 45px;
  font-size: 1.4375rem;
  text-align: center;
  line-height: 45px;
  background-color: #1a1a1a;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.center .content .fas:hover {
  background-color: #f12020;
}
.center .content .text {
  padding-left: 10px;
  font-size: 1.0625rem;
  font-weight: 500;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  margin-bottom: 2px;
  font-size: 1.0625rem;
  color: #656565;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form #msgForm {
  width: 100%;
  font-size: 1.0625rem;
  background-color: #151515;
  border: 1px solid #656565;
  resize: none;
}
.right form input {
  padding-left: 10px;
}
.right form #msgForm {
  padding: 5px 0 0 10px;
}
.right form input:focus,
.right form #msgForm:focus {
  border: 1px solid #f12020;
  outline: none;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  width: 100%;
  height: 40px;
  font-size: 1.0625rem;
  font-weight: 500;
  background-color: #f12020;
  border: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}
.right form .btn button:hover {
  background-color: #000000;
}
@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}

