* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Helvetica;
}
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper {
  width: 450px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.wrapper .input-data {
  position: relative;
  width: 100%;
  height: 40px;
}
.wrapper .input-data input {
  width: 100%;
  height: 100%;
  font-size: 17px;
  border: none;
  border-bottom: 2px solid silver;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-30px);
  font-size: 15px;
  color: #4158d0;
}
.wrapper .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  transition: all 0.3s ease;
  /* 使用 pointer-events: none; 可以使 label 伪装成 placeholder，使用 user-select: none; 就没有这种效果了。 */
  pointer-events: none;
}
.input-data .underline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
}
.input-data .underline:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4158d0;
  transform: scaleX(0);
  /* 决定下划线的动画位置。 */
  transform-origin: left;
  transition: transform 0.3s ease;
  content: '';
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
  transform: scaleX(1);
}
