* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  display: grid;
  place-items: center;
  height: 100%;
  background-color: #efefef;
}
.wrapper {
  position: relative;
  width: 750px;
  height: 500px;
  border: 6px solid #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.wrapper .images {
  display: flex;
  width: 100%;
  height: 100%;
}
.wrapper .images .img-1 {
  width: 100%;
  height: 100%;
  background-image: url(/demo-book/tupianxiaoguo_tupiansetiaofanzhuan/img-f3f71a.jpg);
  background-repeat: no-repeat;
}
.wrapper .images .img-2 {
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: url(/demo-book/tupianxiaoguo_tupiansetiaofanzhuan/img-7d0789.png);
  background-repeat: no-repeat;
}
.wrapper .slider {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}
.wrapper .slider input {
  width: 100%;
  outline: none;
  background: none;
  -webkit-appearance: none;
}
.slider input::-webkit-slider-thumb {
  width: 3px;
  height: 488px;
  background: none;
  cursor: col-resize;
  -webkit-appearance: none;
}
.slider .drag-line {
  position: absolute;
  width: 3px;
  height: 488px;
  left: 49.85%;
  pointer-events: none;
}
.slider .drag-line::before,
.slider .drag-line::after {
  position: absolute;
  width: 100%;
  height: 223px;
  background-color: #fff;
  content: '';
}
.slider .drag-line::before {
  top: 0;
}
.slider .drag-line::after {
  bottom: 0;
}
.slider .drag-line span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 42px;
  height: 42px;
  border: 3px solid #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.slider .drag-line span::before,
.slider .drag-line span::after {
  position: absolute;
  top: 50%;
  border: 10px solid transparent;
  border-right-width: 0px;
  border-bottom-width: 0px;
  transform: translate(-50%, -50%) rotate(45deg);
  content: '';
}
.slider .drag-line span::before {
  left: 40%;
  border-left-color: #fff;
}
.slider .drag-line span::after {
  left: 60%;
  border-top-color: #fff;
}

