:root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
/* 将画布定义成 180 * 180。 */
.spinner {
  margin: 10px;
  width: 180px;
  height: 180px;
  /* 定义线圈动画的各种属性。 */
  animation: rotate 2s linear infinite;
}
/* 线圈 360 度旋转。 */
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
/* 线圈以及实心小圆的部分。 */
.spinner-dot {
  stroke: tomato;
  stroke-width: 1;
  fill: tomato;
  /* 小球动画的各种属性。 */
  animation: skew 2s linear infinite alternate;
}
/* 小球旋转倾斜，动画更加生动。 */
@keyframes skew {
  from {
    transform: skewX(10deg);
  }
  to {
    transform: skewX(40deg);
  }
}
.spinner-border {
  fill: transparent;
  stroke-width: 2;
  width: 100%;
  height: 100%;
}
.path {
  stroke-dasharray: 170;
  stroke-dashoffset: 20;
}
