h1 {
  font-size: 24px;
}
.single-line--text_wrapper {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* 文本溢出显示省略号。 */
}
.multi-line--text_wrapper {
  display: -webkit-box;
  /* 显示为弹性伸缩盒子模型。 */
  -webkit-box-orient: vertical;
  /* 设置或检索伸缩盒对象的子元素的排列方式。 */
  -webkit-line-clamp: 3;
  /* 限制块元素显示文本的行数。 */
  width: 50%;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multi-line--text_wrapper__height {
  max-height: 40px;
  margin-top: 10px;
  line-height: 20px;
  overflow: hidden;
}
.content {
  display: inline-block;
  text-align: left;
}
.single-nulti--line_text__wrapper {
  text-align: center;
}
.text-indent::before {
  content: '\2003\2003';
}

