body {
  width: 720px;
  margin: auto;
  font-family: Helvetica;
}
.masonry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1000px;
}
.item {
  position: relative;
  width: 25%;
  padding: 2px;
  box-sizing: border-box;
  counter-increment: item-counter;
}
.item img {
  display: block;
  width: 100%;
  height: auto;
}
.item::after {
  position: absolute;
  display: block;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background-color: #000;
  color: #fff;
  content: counter(item-counter);
}
.item:nth-child(4n + 1) {
  order: 1;
}
.item:nth-child(4n + 2) {
  order: 2;
}
.item:nth-child(4n + 3) {
  order: 3;
}
.item:nth-child(4n) {
  order: 4;
}
