body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.box {
  --x: 0px;
  --y: 0px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: radial-gradient(circle at var(--x) var(--y), skyblue, black);
}

