body {
  display: grid;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
.masonry {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 0 5px;
}
.item {
  position: relative;
  grid-row-start: auto;
  counter-increment: item-counter;
}
.item::after {
  position: absolute;
  display: block;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background-color: #000;
  color: #fff;
  content: counter(item-counter);
}

