body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.poem {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #3d3d3d;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.tooltip {
  position: relative;
  color: tomato;
}
.tooltip::before {
  display: block;
  position: absolute;
  width: 150px;
  padding: 0.5em;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  content: attr(data-tip);
  text-align: center;
  opacity: 0;
  color: #ffffff;
  background-color: tomato;
}
.tooltip::after {
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  border: 10px solid transparent;
  border-top-color: tomato;
  content: "";
}
.tooltip:hover::before,
.tooltip:focus::before,
.tooltip:hover::after,
.tooltip:focus::after {
  opacity: 1;
}

