body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #2d2d34;
}
.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  margin: 15px;
  color: #f27059;
  cursor: pointer;
  user-select: none;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.4s all ease;
  z-index: 99;
}
/* * 第一个按钮上下实线。 */
.one::before,
.one::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f27059;
  transition: 0.4s all ease;
  content: '';
}
.one::before {
  top: 0;
}
.one::after {
  bottom: 0;
}
/* * 第一个按钮的背景色，hover 之前 z-index 为 -1，不可见。 */
.one .item::before,
.one .item::after {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #f27059;
  transition: 0.4s all ease;
  z-index: -1;
  content: '';
}
.one .item::before {
  left: 0;
}
.one .item::after {
  right: 0;
}
.one:hover::before,
.one:hover::after {
  transition: 0.4s all ease;
}
/* * hover 之后修改 translateY 属性值进行上下偏移。 */
.one:hover::before {
  transform: translateY(-10px);
}
.one:hover::after {
  transform: translateY(10px);
}
.one:hover,
.two:hover {
  color: #ffffff;
}
/* * hover 后修改背景色宽度进行左右动画移动填充。 */
.one:hover .item::before,
.one:hover .item::after {
  width: 100%;
  transition: 0.4s all ease;
}
.two {
  position: relative;
  box-sizing: border-box;
  border: 2px solid #f27059;
}
/* * 第二个按钮只需要添加一个伪类，hover 后进行背景色填充即可。 */
.two::before {
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #f27059;
  transition: 0.4s all ease;
  z-index: -1;
  content: '';
}
.two:hover::before {
  width: 100%;
  transition: 0.4s all ease;
}
.one:active,
.two:active {
  color: #000000;
}
.three {
  position: relative;
  width: 120px;
  height: 50px;
  margin: 15px;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f27059;
  /* * background-image 来描绘四个方向的边框线。 */
  background: linear-gradient(0, #f27059 2px, #f27059 2px) no-repeat left top/0 2px,
    linear-gradient(-90deg, #f27059 2px, #f27059 2px) no-repeat right top/2px 0,
    linear-gradient(-180deg, #f27059 2px, #f27059 2px) no-repeat right bottom/0 2px,
    linear-gradient(-270deg, #f27059 2px, #f27059 2px) no-repeat left bottom/2px 0;
  transition: all 300ms;
  cursor: pointer;
  user-select: none;
}
.three:hover {
  color: #ffffff;
  background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
}
.three:active {
  color: #000000;
}
