* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
html,
body {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(375deg, #1cc7d0, #2ede98);
}
::selection {
  color: #fff;
  background-color: #1cc7d0;
}
.wrapper {
  position: relative;
  width: 320px;
  height: 400px;
  /* * 设置元素的子元位于 3D 空间中。 */
  transform-style: preserve-3d;
  /* * 指定了观察者与 z = 0 平面的距离，使具有三维位置变换的元素产生透视效果。z > 0 的三维元素比正常大，而 z < 0 时则比正常小。 */
  perspective: 1000px;
  cursor: pointer;
}
.wrapper .card {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.wrapper .front-face {
  /* * 设置在 3D 维度下背朝观察者的元素的可见性。 */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.wrapper:hover > .front-face {
  transform: rotateY(-180deg);
}
.wrapper .card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* * 保持宽高比的同时填充元素的整个内容框。 */
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .back-face {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* * 均匀排列每个元素，每个元素之间的间隔相等。 */
  justify-content: space-evenly;
  transform: rotateY(180deg);
}
.wrapper:hover > .back-face {
  transform: rotateY(0);
}
.wrapper .back-face img {
  width: 150px;
  height: 150px;
  padding: 5px;
  border-radius: 50%;
  background-image: linear-gradient(375deg, #1cc7d0, #2ede98);
}
.wrapper .back-face .info {
  text-align: center;
}
.back-face .info .title {
  font-size: 30px;
  font-weight: 500;
}
.back-face ul {
  display: flex;
}
.back-face ul a {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  text-align: center;
  text-decoration: none;
  line-height: 39px;
  color: #fff;
  background-image: linear-gradient(375deg, #1cc7d0, #2ede98);
  border: 1px solid transparent;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.back-face ul a:hover {
  color: #1cc7d0;
  background-image: linear-gradient(375deg, transparent, transparent);
  border-color: #1cc7d0;
}

