h1 {
  font-size: 24px;
}
/* 案例一对应 CSS 代码。 */
.container {
  display: flex;
  /* 两端对齐 */
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 10px;
  outline: 1px solid red;
}
.list {
  width: 19%;
  height: 100px;
  background-color: skyblue;
  margin-top: 15px;
}
.list::after {
  display: none;
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  content: '';
}
/* 如果最后一行是4个元素 */
.list:last-child:nth-child(5n - 1) {
  margin-right: calc(19% + 5% / 4);
}
/* 如果最后一行是3个元素 */
.list:last-child:nth-child(5n - 2) {
  margin-right: calc(38% + 10% / 4);
}
/* 如果最后一行是2个元素 */
.list:last-child:nth-child(5n - 3) {
  margin-right: calc(57% + 15% / 4);
}
.addWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid skyblue;
  background-color: #ffffff !important;
}
.addItem {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  background-color: gray;
  cursor: pointer;
}
/* 案例二对应 CSS 代码。 */
.item {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  margin: 0 10px 0 0;
}
.container > i {
  width: 100px;
  margin-right: 10px;
}
/* 案例三对应 CSS 代码。 */
.box-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 10px;
  outline: 1px solid red;
}
.box {
  width: 24%;
  height: 100px;
  background-color: skyblue;
  margin-top: 15px;
}
.box:not(:nth-child(4n)) {
  margin-right: calc(4% / 3);
}
/* 案例四对应 CSS 代码。 */
.item-wrapper {
  margin-top: 10px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 10px;
  outline: 1px solid red;
}
.item-content {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  margin-top: 5px;
}
