body {
  width: 720px;
  margin: auto;
  font-family: Helvetica;
}
.masonry {
  /* * 控制元素的列数。 */
  column-count: 4;
  /* * 控制元素列间距。 */
  column-gap: 0;
}
.item {
  padding: 2px;
  position: relative;
  /* * 用于将 CSS Counters 的值增加给定值，可以使用 counter-reset 重置计数器。 */
  counter-increment: item-counter;
}
.item img {
  display: block;
  width: 100%;
  height: auto;
}
.item::after {
  position: absolute;
  display: block;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background-color: #000;
  color: #fff;
  /* * 该函数返回一个字符串，通常与伪类配合使用。 */
  content: counter(item-counter);
}
