.dialog-button_open {
  display: block;
  width: 200px;
  margin: 30px auto;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: tomato;
}
.dialog-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
/* * :target 伪类选择器来定位模态框外层元素，控制实现显示/隐藏。 */
.dialog-wrapper:target {
  visibility: visible;
}
.dialog-content {
  position: relative;
  width: 400px;
  margin: 20% auto;
  padding: 100px;
  text-align: center;
  color: #ffffff;
  background-color: skyblue;
}
.dialog-button_close {
  position: absolute;
  top: 6px;
  right: 12px;
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
  transform: scaleY(0.8);
}
