body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.form-validation {
  width: 500px;
}
.form-validation div {
  position: relative;
  margin-top: 10px;
}
.form-validation div span {
  position: absolute;
  top: calc(50% + 1px);
  left: calc(100% - 30px);
  display: none;
  color: #3c9;
}
.form-validation div:first-child {
  margin-top: 0;
}
.form-validation label {
  display: block;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
.form-validation input,
.form-validation textarea {
  display: block;
  width: 95.5%;
  height: 40px;
  padding: 0 0 0 20px;
  outline: none;
  border: 1px solid #ccc;
  caret-color: #09f;
  transition: all 300ms;
}
.form-validation input:valid,
.form-validation textarea:valid {
  box-shadow: inset 5px 0 0 #3c9;
  border-color: #3c9;
}
.form-validation input:invalid,
.form-validation textarea:invalid {
  box-shadow: inset 5px 0 0 tomato;
  border-color: tomato;
}
.form-validation textarea {
  height: 122px;
  font-size: 16px;
  line-height: 30px;
  resize: none;
}
.form-validation input::placeholder,
.form-validation textarea::placeholder {
  font-size: 14px;
  font-family: Helvetica;
  color: tomato;
}
.form-validation input:valid ~ span,
.form-validation textarea:valid ~ span {
  display: inline-block;
}
.submit-button {
  float: right;
  width: 72px;
  height: 28px;
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #3c9;
  cursor: pointer;
  user-select: none;
}
.submit-button:active {
  transform: scale(.92);
}
