body,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.scroll-wrapper {
  overflow: auto;
  perspective: 1px;
  transform-style: preserve-3d;
}
.scroll-wrapper p {
  height: 300px;
  font-size: 20px;
  text-align: center;
  line-height: 300px;
  color: #f66;
}
.parallax-scrolling {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background-image: url("https://picsum.photos/1920/1080?random=1");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* background: url("https://picsum.photos/1920/1080?random=1") no-repeat center fixed; */
}
.parallax-scrolling li {
  width: 500px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.parallax-scrolling li:nth-child(1) {
  transform: translateZ(-1px);
  color: #f66;
}
.parallax-scrolling li:nth-child(2) {
  transform: translateZ(-2px);
  color: #09f;
}
.parallax-scrolling li:nth-child(3) {
  transform: translateZ(-3px);
  color: #3c9;
}

