body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.example-mobile-scroll_y {
  position: absolute;
  width: 100%;
  height: 100%;
}
.scroller {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* * scroll-snap-type: mandatory; 在外层容器设置这个属性值，当没有被滚动时，将静止在一个 snap 点，也就是说会自动选择一个完整的点进行停靠。 */
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}
section {
  margin: 0;
  padding: 0;
}
.scroller section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* * scroll-snap-align: start; 对外层子项目设置这个属性，滚动结束会停靠于子项目起点。 */
  /* ! 记得 iOS 移动端配合上：-webkit-overflow-scrolling: touch. */
  scroll-snap-align: start;
}
section:first-child {
  background-image: linear-gradient(25deg, #254cce, #8a7ace, #c8adcb, #ffe3c6);
}
section:nth-child(2) {
  background-image: linear-gradient(25deg, #ea002e, #ed6d6c, #e3a7af, #c3ddf7);
}
section:last-child {
  background-image: linear-gradient(25deg, #ff0c35, #de8437, #acbd3a, #41ed3d);
}

