body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.mask {
  height: 100px;
  width: 100px;
  background-image: linear-gradient(red, orange, yellow, lightgreen, blue, purple, red);
  /* * mask-*：一个和 background-* 类似的属性；通过遮罩或者裁切特定区域的图片来隐藏一个元素的部分或者全部可见区域，本案例就是将图片区域进行换色。 */
  mask: url('./pinned-octocat.svg');
}
