section:nth-child(1) {
  padding: 1em;
  transition: 1s;
  outline: 2px dashed gold;
}
section:nth-child(1):hover {
  outline: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
hr {
  margin: 50px 0px;
}
section:nth-child(3) {
  position: relative;
  padding: 1em;
  outline: 2px solid gold;
}
section:nth-child(3):after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: 1s;
  content: '';
}
section:nth-child(3):hover {
  outline: none;
}
section:nth-child(3):hover:after {
  opacity: 1;
}
