body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.star-rating {
  display: flex;
  flex-direction: row-reverse;
}
.star-rating input {
  width: 35px;
  height: 35px;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  appearance: none;
  cursor: pointer;
  transition: all 300ms;
}
.star-rating input:focus {
  outline: none;
}
.star-rating input::after {
  transition: all 300ms;
  color: tomato;
  content: '☆';
}
.star-rating input:hover {
  transform: scale(1.2);
}
.star-rating input:checked::after,
.star-rating input:checked ~ input::after,
.star-rating input:hover::after,
.star-rating input:hover ~ input::after {
  color: #1890ff;
  content: '★';
}
