:root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.load-indicator {
  font-size: 50px;
  color: tomato;
}
.load-indicator dot {
  display: inline-block;
  height: 1em;
  line-height: 1;
  vertical-align: -0.25em;
  overflow: hidden;
}
.load-indicator dot::after {
  display: block;
  animation: loading 2s infinite step-start both;
  white-space: pre-wrap;
  content: "...\A..\A.\A";
}
@keyframes loading {
  0% {
    transform: translate3d(0, -3em, 0);
  }
  33% {
    transform: translate3d(0, -2em, 0);
  }
  66% {
    transform: translate3d(0, -1em, 0);
  }
}

