.tabs-wrapper {
  position: relative;
  display: flex;
  width: 50%;
  height: 100px;
  margin: 30px auto;
}
input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
label {
  padding: 0.5em 0.5em;
  border-radius: 3px;
  color: #ffffff;
  background-color: #2980b9;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
label:not(last-child) {
  margin-right: 5px;
}
section {
  width: 100%;
  height: 150px;
  padding: 10px;
  top: 30px;
  left: 0;
  position: absolute;
  background-color: #dddddd;
}
#radio-first:checked ~ label,
#radio-second:checked ~ label,
#radio-third:checked ~ label {
  background-color: #e67e22;
}
#radio-first:checked ~ section,
#radio-second:checked ~ section,
#radio-third:checked ~ section {
  z-index: 1;
}

