:root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chaos-loading {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.chaos-loading::after {
  display: block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  color: #fff;
}
.chaos-loading li {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  animation: move 2s linear infinite;
}
.chaos-loading li:nth-child(1) {
  background-color: #1c8ec6;
}
.chaos-loading li:nth-child(2) {
  animation-delay: -.5s;
  background-color: #b1c67a;
}
.chaos-loading li:nth-child(3) {
  animation-delay: -1s;
  background-color: #c3004c;
}
.chaos-loading li:nth-child(4) {
  animation-delay: -1.5s;
  background-color: #4205a4;
}
@keyframes move {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(100%, 0, 0);
  }
  50% {
    transform: translate3d(100%, 100%, 0);
  }
  75% {
    transform: translate3d(0, 100%, 0);
  }
}
